@use 'colors' as clr;

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-padding-top: 5rem;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 5rem;
  min-height: 100vh;
  background-color: rgb(240 253 250 / 0.35);
}

h3 {
  font-size: 1.45rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

p {
  text-align: justify;
}

::selection {
  background-color: clr.$secondary;
  color: #fff;
}

.link {
  text-decoration: none;
  color: #000;
  background-image: linear-gradient(90deg, clr.$amber-400, clr.$orange-600);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 200ms ease;

  &:hover {
    background-size: 0% 2px;
  }

  &-dark {
    color: #fff;
    background-image: linear-gradient(90deg, clr.$orange-50, clr.$orange-200);
  }

  &-reverse {
    background-size: 0% 2px;

    &:hover {
      background-size: 100% 2px;
    }
  }
}

.scroll-top {
  position: fixed;
  z-index: 100;
  bottom: 1.5rem;
  right: 1.5rem;
  display: grid;
  place-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 100%;
  background-color: clr.$orange-500;
  transform: translateY(5rem);
  transition: all 200ms ease;

  &:hover {
    background-color: clr.$orange-700;
  }

  &.active {
    transform: translateY(0);
  }
}

.table-of-content {
  position: sticky;
  top: 2rem;
  height: calc(100vh - 4rem);
  overflow-y: auto;

  a {
    font-size: 0.925rem;

    &.active {
      font-weight: 700;
    }
  }
}
