@use 'colors' as clr;

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-padding-top: 5rem;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 5rem;
  min-height: 100vh;
  background-color: rgb(240 253 250 / 0.35);
}

::selection {
  background-color: clr.$secondary;
  color: #fff;
}

.link {
  text-decoration: none;
  color: #000;
  background-image: linear-gradient(90deg, clr.$primary, clr.$secondary);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 200ms ease;

  &-dark {
    color: #fff;
    background-image: linear-gradient(90deg, clr.$teal-50, clr.$teal-200);
  }

  &:hover {
    background-size: 0% 2px;
  }
}

.navbar,
.footer {
  background-color: clr.$primary;
}

.dropdown-item:is(:active, .active) {
  background-color: clr.$primary;
}
