---
import Layout from '~/layouts/layout.astro';
import { TableOfContent } from '~/components/table-of-conent';
---

<Layout path="/elete" title="Élete" description="TODO">
  <main class="container">
    <div class="row" transition:name="title">
      <div class="col-12">
        <h1 class="text-center mt-5">Élete</h1>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-10">
        <div class="row">
          <div class="col-12">
            <h2 id="todo">Todo</h2>
            <p>
              <b>Címekre kerüljön ID</b> (<i>hogy megjelenjen a table of content-ben</i>): cím
              kisbetűkkel, ékezetek nélkül, szőköz helyett kötőjel!
            </p>
          </div>
        </div>
      </div>

      <div class="col-2">
        <TableOfContent client:only="react" />
      </div>
    </div>
  </main>
</Layout>
