---
import Layout from '~/layouts/layout.astro';
import { TableOfContent } from '~/components/table-of-conent';
import ImageWithCaption from '~/components/image-with-caption.astro';
---

<Layout path="/elete" title="Élete" description="TODO">
  <main class="container">
    <div class="row" transition:name="title">
      <div class="col-12">
        <h1 class="text-center mt-5">Élete</h1>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-lg-9">
        <section class="row">
          <div class="col-12">
            <h2 id="korai-elete">Korai évei</h2> 

            <ImageWithCaption
              float="left"
              src="linus-young.jpg"
              alt="Linus egyetemes éveiben"
              caption="Linus egyetemes éveiben"
              width={400}
            />

            <p>
              Torvalds Finnországban azon belül Helsinkiben született. Anna és Nils Torvalds
              újságírók fiaként, Leo Törnqvist statisztikus és Ole Torvalds költő
              unokájaként, valamint Toivo Karanko újságíró és katona 
              dédunokájaként. Családja a finnországi svéd ajkú
              kisebbséghez tartozik. Nevét Linus Paulingról, a Nobel-díjas amerikai
              kémikusról kapta.
            </p>
            <p>
              Torvalds 1988 és 1996 között járt a Helsinki Egyetemre, ahol a 
              NODES kutatócsoport informatikai mesterképzésében szerzett diplomát.
              Tudományos pályafutása megszakadt az első tanulmányi éve után,
              amikor is 1989 nyarán csatlakozott a Finn Haditengerészet "Nyland
              Brigade" nevű alakulatához és ahoz hogy a finnországi kötelező katonai 
              szolgálatát teljesítse egy 11 hónapos tisztképzési programot választotta.
              Hadnagyi rangot kapott, tüzérségi megfigyelői szerepkörben. Megvette Andrew
              Tanenbaum számítástechnika professzor Operating Systems: Design
              and Implementation című könyvét, amelyben Tanenbaum leírja a
              MINIX működését és a Unix oktatási célra lecsupaszított változatát. 1990-ben
              Torvalds folytatta egyetemi tanulmányait, és itt találkozott először a Unix-
              szal egy DEC MicroVAX formájában, amelyen az ULTRIX futott. A mester diplomája 
              Linux: A hordozható operációs rendszer címet kapta.
            </p>
            <p>
              Érdeklődése a számítógépek iránt egy VIC-20-al kezdődött 1981-ben, 11 évesen.
              BASIC-ben kezdett rá programozni. Ezután vásárolt egy Sinclair QL-t, amelyet alaposan módosított, 
              különösen az operációs rendszerét. Majd 1991. január 5-én megvásárolta az IBM PC Intel 80386-alapú klónját,
              mielőtt megkapta a MINIX példányát, ami lehetővé tette számára, hogy elkezdjen dolgozni Linuxon.
            </p>
          </div>
          <div class="col-12">
            <h2 id="magan-elete">Magán élete</h2>
            
            <ImageWithCaption
              float="right"
              src="linus-torvalds-and-his-wife.jpg"
              alt="Linus és felesége"
              caption="Linus és felesége"
              width={350}
            />

            <p>
              Torvalds felesége Tove Torvalds (née Monni), hatszoros finn
              nemzeti karate bajnok, akit 1993 végén ismert meg. Egy kezdőknek való számítógépes 
              kurzust vezetet és a tanfolyam résztvevőit megkérete hogy küldjön mindenki neki egy e-mail tesz ként 
              és Tove a válasz levelében egy randira hívta el Linust. Később összeházasodtak, és három lányuk született, 
              akik közül már kettő az Egyesült Államokban született.
            </p>
            <p>
              2004-ben Torvalds családjával az oregoni Portlandbe költözött a Szilícium-völgyből.
            </p> 
          </div>

          <div class="col-12">
            <h2 id="eredmenyei-es-elismeresei">Eredményei és elismerései</h2>
            
          </div>
          <div class="col-12">
            <h2 id="tovabbi-munkassagai">További munkásságai</h2>

          </div>
          
        </section>

        <section class="row pt-5">
          <div class="col-12">
            <h2 id="english-summary">English summary</h2>
            <p>Todo</p>
          </div>
        </section>
      </div>

      <div class="col-lg-3 d-lg-block d-none">
        <TableOfContent client:only="react" transition:name="table-of-content" />
      </div>
    </div>
  </main>
</Layout>
