---
import Layout from '~/layouts/layout.astro';
import { TableOfContent } from '~/components/table-of-conent';
---

<Layout path="/git" title="Git" description="TODO">
  <main class="container">
    <div class="row" transition:name="title">
      <div class="col-12">
        <h1 class="text-center mt-5">Git</h1>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-10">
        <section class="row">
          <div class="col-12">
            <h2 id="todo">Todo</h2>
            <p>
              <b>Címekre kerüljön ID</b> (<i>hogy megjelenjen a table of content-ben</i>): cím
              kisbetűkkel, ékezetek nélkül, szőköz helyett kötőjel!
            </p>
            <p>Új <b>h2</b> kerüljön új <b>col</b>-ba!</p>
          </div>
        </section>

        <section class="row pt-5">
          <div class="col-12">
            <h2 id="english-summary">English summary</h2>
            <p>Todo</p>
          </div>
        </section>
      </div>

      <div class="col-2">
        <TableOfContent client:only="react" transition:name="table-of-content" />
      </div>
    </div>
  </main>
</Layout>
