---
import Layout from '~/layouts/layout.astro';
---

<Layout
  path="/"
  title="Kezdőlap"
  description=" Linus Benedict Torvalds (Helsinki, 1969. december 28.) a népszerű, Unix-szerű operációs rendszer, a Linux fejlesztésének elindítója, jelenleg is egyik fő fejlesztője. Szülei korán elváltak, Linust az anyja Helsinkiben nevelte fel. Anyanyelve a svéd, de finnül is anyanyelvi szinten beszél."
>
  <main class="container">
    <div class="row pt-5">
      <div class="col-md-4">
        <img
          class="img-fluid img-thumbnail"
          src="/linus-torvalds.jpg"
          alt="Linus Benedict Torvalds"
        />
      </div>

      <div class="col-md-8 mt-3 mt-md-0">
        <h1 class="mb-0">Linus Benedict Torvalds</h1>
        <p class="fw-bold">Helsinki, 1969. december 28.</p>

        <p>
          Linus Benedict Torvalds (<i>Helsinki, 1969. december 28.</i>) a népszerű, <b>Unix-szerű</b
          > operációs rendszer, a <b>Linux fejlesztésének elindítója</b>, jelenleg is egyik fő
          fejlesztője. Szülei korán elváltak, Linust az anyja Helsinkiben nevelte fel. Anyanyelve a
          svéd, de finnül is anyanyelvi szinten beszél.
        </p>
        <p>
          <b>Három kislánya van:</b> Patricia Miranda, Daniela és Celeste Torvalds. <b
            >1997 eleje óta az USA-ban</b
          > (<i>Santa Clara</i>) <b>élnek.</b> Jelenleg Linus munkaadója a <b>Linux Foundation</b>,
          amely a korábbi <b>OSDL</b> (<i>Open Source Development Labs</i>) és a <b
            >Free Standards Group</b
          > egyesüléséből jött létre. A Linux Foundation az ipar fontos szervezetei, cégei által
          fenntartott alapítvány, amely anyagi hátteret teremt a <b>Linux kernel</b> fejlesztésének.
        </p>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-12">
        <h2>Tartalom:</h2>
      </div>

      <div class="col-md-4">
        <a href="/elete">
          <img
            class="img-thumbnail img-fluid mb-1"
            src="/elete.jpg"
            alt="Linus Benedict Torvalds"
            title="Linus Benedict Torvalds élete"
          />
          <p>Élete</p>
        </a>
      </div>

      <div class="col-md-4">
        <a href="/linux">
          <img
            class="img-thumbnail img-fluid mb-1"
            src="/linux.jpg"
            alt="Linux Logo"
            title="Linux"
          />
          <p>Linux</p>
        </a>
      </div>

      <div class="col-md-4">
        <a href="/git">
          <img class="img-thumbnail img-fluid mb-1" src="/git.jpg" alt="Git Logo" title="Git" />
          <p>Git</p>
        </a>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-12">
        <h2>English summary:</h2>

        <p>
          Linus Benedict Torvalds (Helsinki, December 28, 1969) is the creator of the popular
          Unix-like operating system, Linux, and is currently one of it's main developers. His
          parents divorced at an early age, he was raised by his mother in Helsinki.
        </p>
        <p>
          He has three daughters: Patricia, Daniela and Celeste. They have been living in the USA
          since 1997. Linus is currently employed by the Linux Foundation. The foundation is
          maintained by important organizations and companies in the industry, which creates a
          financial background for the development of the Linux kernel.
        </p>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-12">
        <h2>Forrás:</h2>
        <ul>
          <li>
            Linus Torvalds: <a
              class="link"
              href="https://hu.wikipedia.org/wiki/Linus_Torvalds"
              target="_blank"
              rel="noopener noreferrer">Wikipédia</a
            >
          </li>
          <li>
            Linux: <a
              class="link"
              href="https://hu.wikipedia.org/wiki/Linux"
              target="_blank"
              rel="noopener noreferrer">Wikipédia</a
            >
          </li>
          <li>
            Git: <a
              class="link"
              href="https://en.wikipedia.org/wiki/Git"
              target="_blank"
              rel="noopener noreferrer">Wikipédia</a
            >
          </li>
          <li>
            Képek: <a
              class="link"
              href="https://www.google.com/imghp"
              target="_blank"
              rel="noopener noreferrer">Google</a
            >
          </li>
          <li>
            Szövegek rövidítése, angol összefoglalás: <a
              class="link"
              href="https://chat.openai.com"
              target="_blank"
              rel="noopener noreferrer">ChatGPT</a
            >
          </li>
        </ul>
      </div>
    </div>
  </main>
</Layout>

<style lang="scss">
  @use '../styles/colors' as clr;

  a {
    color: black;
    text-align: center;
    text-decoration: none;
  }

  li > a {
    color: clr.$primary;
  }
</style>
