---
import Layout from '~/layouts/layout.astro';
---

<Layout path="/linux" title="Linux" description="TODO">
  <main class="container">
    <div class="row" transition:name="title">
      <div class="col-12">
        <h1 class="text-center mt-5">Linux</h1>
      </div>
    </div>
  </main>
</Layout>
