<footer class="footer text-muted">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center p-4 text-light">
        <p class="mb-0">© 2023 IKT 1. Projekt: Linus Benedict Torvalds élete</p>
        <p class="fw-bold mb-0">
          Bottka Balázs - K.Papp Benjámin -
          <a
            class="fw-bold link link-dark"
            href="https://znagy.hu"
            target="_blank"
            rel="noopener noreferrer"
            style="color: #fff !important">Nagy Zétény</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  @use '../styles/colors' as clr;

  .footer {
    background-color: clr.$orange-600;
  }
</style>
