---
import Layout from './layout.astro';
import { TableOfContent } from '~/components/table-of-conent';

const { path, title, description } = Astro.props as {
  path: string;
  title: string;
  description: string;
};
---

<Layout path={path} title={title} description={description}>
  <main class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center mt-5">{title}</h1>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-lg-9">
        <slot />
      </div>

      <div class="col-lg-3 d-lg-block d-none">
        <TableOfContent client:only="react" />
      </div>
    </div>
  </main>
</Layout>
